<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> calcultor </h1>
    <form action="calculate">
        <input type="number" name="num1">
        <br>
        <input type="number" name="num2">
        <br><br>
        <input type="radio" name="operation" value="sum"> Sum
        <br>
        <input type="radio" name="operation" value="sub"> Sub
        <input type="radio" name="operation" value="multiply"> Multiply
        <input type="radio" name="operation" value="divide"> divide
        

        <br><br>
        <button type="submit"> submit</button>

    </form>
    <p> {{total}} </p>
    
</body>
</html>