<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1> Calculator </h1>
    <form action="calculate"><textarea id="" cols="30" rows="5">{{num1}} {{operation}} {{num2}} {{equal}} {{total}}{{except}}
        </textarea>
        <br>
        <input type="number" name="num1">
        <br>
        <br>
        <input type="number" name="num2">
        <br>
        <br>
        <input type="radio" name="operation" value="+"> Sum
        <br>
        <input type="radio" name="operation" value="-"> Sub
        <br>
        <input type="radio" name="operation" value="x"> Multiply
        <br>
        <input type="radio" name="operation" value="/"> divide
        

        <br><br>
        <button type="submit"> submit</button>

    </form>
    <p> {{total}} </p>
    
</body>
</html>