<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>My first django page</title>
</head>

<body>
    <h1>this is my first project</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis consequuntur repudiandae eveniet, atque
        laudantium? Consequatur aut, eum provident nulla unde quos placeat est nisi ipsa! Ipsam aperiam pariatur facere.
    </p>
    <p>
        my name is {{name}}
    </p>
    <input type="number" name="num1">
    <button>  </button>


</body>

</html>